@model IEnumerable<WebSecurityAssignment.ViewModels.JobVM>

@{
    ViewData["Title"] = "Index";
    //int JobID = 0;
}
<div>
    <section class="job_feed">
        <div id="feed_list">
            <h2>Job Listings</h2>
            <p>
                <a asp-action="Create">Create New</a>
            </p>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Title)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.EmployerName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Amount)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.dateNeeded)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.dateExpired)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Address)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr id="@Html.DisplayFor(modelItem => item.ID)">
                            <td class="job_title">
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>
                            <td class="job_employer">
                                @Html.DisplayFor(modelItem => item.EmployerName)
                            </td>
                            <td class="job_amount">
                                @Html.DisplayFor(modelItem => item.Amount)
                            </td>
                            <td class="job_dateNeeded">
                                @Html.DisplayFor(modelItem => item.dateNeeded)
                            </td>
                            <td class="job_dateExpired">
                                @Html.DisplayFor(modelItem => item.dateExpired)
                            </td>
                            <td class="job_address">
                                @Html.DisplayFor(modelItem => item.Address)
                            </td>
                            <td class="job_description" style="display:none;">
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                        </tr>

                    }

                </tbody>
            </table>
        </div>
        <div id="feed_details">

            <section id="details">
                <h3 id="details_title"></h3>
                <p id="details_description">
                </p>
                <p id="details_dateNeeded"></p>
                <p id="details_dateExpired"></p>
                <p id="details_amount"></p>
                <p><a id="details_address"></a></p>
                <p>Posted by: <a id="details_employer"></a></p>



                <section id="map_container">
                    <span class="metadata-marker" style="display: none;" data-region_tag="html-body"></span>
                    <div id="map"></div>
                    <script>
                        //<span class="metadata-marker" style="display: none;" data-region_tag="script-body"></span>
                        var map;
                        function initMap() {
                            map = new google.maps.Map(document.getElementById('map'), {
                                center: { lat: 49.246, lng: -123.116 },
                                zoom: 8
                            });
                        }
                    </script>
                    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD8owFdPbt2-OK8FLSbhSfZe7qry90ptOA&callback=initMap"
                            async defer></script>
                    <script src="~/js/feed_details.js"></script>
                </section>
            </section>
            <button class="apply_button">Apply</button>
        </div>
    </section>
</div>
