@model WebSecurityAssignment.Data.Application



<h2>@Html.Raw(ViewBag.Title)</h2>

<hr />
<div>
    <dl class="dl-horizontal">

        <dt>
            Employer:
        </dt>
        <dd>

            @ViewData["Employer"]
        </dd>

        <dt>
            Details:
        </dt>
        <dd>

            @ViewData["JobDetail"]
        </dd>
        <dt>
            Address:
        </dt>
        <dd>
            @ViewData["Address"]
        </dd>
        <dt>
            Job Available:
        </dt>
        <dd>
            @ViewData["DateNeeded"]
        </dd>
        <dt>
            Job Expires:
        </dt>
        <dd>
            @ViewData["DateExpired"]
        </dd>
        <dt>
            Pay Amount:
        </dt>
        <dd>
            @ViewData["Amount"]
        </dd>
        <dt>
            Comments:
        </dt>
        <dd>
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group" style="display:none">
                    <label asp-for="ApplicantID" class="control-label"></label>
                    <select asp-for="ApplicantID" class="form-control" asp-items="ViewBag.ApplicantID"></select>
                </div>
                <div class="form-group" style="display:none">
                    <label asp-for="JobID" class="control-label"></label>
                    <select asp-for="JobID" class="form-control" asp-items="ViewBag.JobID"></select>
                </div>
                <div class="form-group">
                    <input asp-for="Comment" class="form-control" />
                    <span asp-validation-for="Comment" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <a asp-controller="Home" asp-action="Index">
                        <input type="submit" value="Apply" class="btn btn-default" />
                    </a>
                </div>
            </form>
        </dd>
    </dl>
    <div>
        <a asp-controller="Home" asp-action="Index">Back to Job Feed</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
