@model WebSecurityAssignment.ViewModels.ApplicationVM

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ApplicationVM</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EmployerFN)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmployerFN)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmployerLN)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmployerLN)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmployeeFN)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmployeeFN)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmployeeLN)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmployeeLN)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.JobTitle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.JobTitle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApplicantID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApplicantID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.JobID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.JobID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.comments)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.comments)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ApplicantID" />
        <input type="hidden" asp-for="JobID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
