@model WebSecurityAssignment.ViewModels.ApplicationVM

@{
    ViewData["Title"] = "Detail";
}

<h2>Detail</h2>

<div>
    <h4>ApplicationVM</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EmployerFN)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmployerFN)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmployerLN)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmployerLN)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmployeeFN)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmployeeFN)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmployeeLN)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmployeeLN)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.JobTitle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.JobTitle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApplicantID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApplicantID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.JobID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.JobID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.comments)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.comments)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
