@model WebSecurityAssignment.Data.Job

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Job</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.employeeID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.employeeID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.amount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.amount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.dateNeeded)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.dateNeeded)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.dateExpired)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.dateExpired)
        </dd>
        
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="jobID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
