@model WebSecurityAssignment.Data.Job

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Job</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.employeeID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.employeeID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.amount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.amount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.dateNeeded)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.dateNeeded)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.dateExpired)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.dateExpired)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address.addressID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.jobID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
