@model IEnumerable<WebSecurityAssignment.Data.Job>

@{
    Layout = "/Areas/Identity/Pages/_Layout.cshtml";
}

<h2>Manage your account</h2>

<div>
    <h4>Change your account settings</h4>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <ul class="nav nav-pills nav-stacked">
                <li><a href="/Profile/Jobs">Jobs</a></li>
                <li><a href="/Profile"
                       style="
                            background-color: rgb(51, 122, 183);
                            border-radius: 4px;
                            box-sizing: border-box;
                            color: rgb(255, 255, 255);
                            ">Listings</a></li>
                <li><a href="/Identity/Account/Manage">Profile</a></li>
                <li><a id="change-password" asp-page="/Identity/Account/Manage/ChangePassword">Password</a></li>

                <li><a href="/Identity/Account/Manage/TwoFactorAuthentication">Two-factor authentication</a></li>
                <li><a href="/Identity/Account/Manage/PersonalData">Personal data</a></li>
            </ul>
        </div>
        <div class="col-md-9">
            <p>
                <a asp-controller="Jobs" asp-action="Create">Create New</a>
            </p>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.title)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.description)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.employeeID)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.amount)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.dateNeeded)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.dateExpired)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Address)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ApplicationUser)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.title)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.employeeID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.amount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.dateNeeded)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.dateExpired)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Address.addressID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ApplicationUser.Id)
                            </td>
                            <td>
                               <a asp-controller="Applications" asp-action="Get" asp-route-id="@item.jobID">Pending Applications</a> |
                                <a asp-action="Edit" asp-route-id="@item.jobID">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.jobID">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.jobID">Delete</a> |
                                <a asp-controller="Transactions" asp-action="Create" asp-route-id="@item.jobID">Pay</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>




